#appHeader {
  background-color: #083A6D;
  height: 70px; }
  #appHeader img {
    margin-left: 10px; }

.app-header-title {
  text-align: center; }
  .app-header-title h2 {
    color: #333;
    display: inline-block;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center; }
  .app-header-title p {
    font-size: 1em;
    line-height: 1em; }
